ConnectionStrings__DefaultConnection=server=mysql-random-taskboard-0.i.aivencloud.com;port=15893;database=defaultdb;user=avnadmin;password=PASSWORD;SslMode=Required;
Jwt__Key=8gIOFRDcxr78tK6xr8JDK5d8JGL3hjtGXHJtFKH869aaa
Jwt__Issuer=http://localhost:5101

# Gmail OAuth2 Configuration
GMAIL_EMAIL=your_email@gmail.com
GMAIL_CLIENT_ID=your_client_id.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=your_client_secret
GMAIL_REFRESH_TOKEN=your_refresh_token
