.column {
    height: 100%;
    overflow-y: auto;
    padding-right: 0.65rem;
    border-right: 1px solid #374151;
}

.header {
    margin: 0.5rem 0;
}

/* Specific styling for completed checkbox */
.completedCheckbox {
    margin-top: 0.65rem;
}

.column::-webkit-scrollbar {
    width: 6px;
}

.column::-webkit-scrollbar-track {
    background: transparent;
}

.column::-webkit-scrollbar-corner {
    background: transparent;
}

.column::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.column::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}