.project-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.project-content {
    flex: 1;
    overflow-y: auto;
    background-color: var(--bg-inner);
}